<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" enctype="multipart/form-data">
    <div>
        <h2>Upload your file here</h2>
        {% csrf_token %}
        <input type="file" name="code">
    </div>


    <div>
        <h2>Select Plugins</h2>
        {% for name in plugin_names %}
        <br>
        <input name="selected_plugins" type="checkbox" value={{ name }}>{{ name }}</input>
        {% endfor %}
        <br>
    </div>

    <div>
        <h2>Put test image</h2>
        <input type="file" name="image">
    </div>
    <br>

    <div>
        <h2>Enter index of visualized class</h2>
        <input type="number" name="class_index" value="{{ class_index }}">
    </div>
    <br>

    <button type="submit">Submit</button>
</form>



</body>
</html>